<section>
  <p class="text-xl p-10 leading-5">
    Hi,
    <span>
      <label
        role="button"
        for="image-upload"
        class="cursor-pointer relative inline-flex items-center justify-center p-0.5 overflow-hidden rounded-md text-sm font-medium text-gray-900 group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
      >
        <span
          class="relative font-bold uppercase px-2 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          upload
        </span>
      </label>
      <input
        id="image-upload"
        type="file"
        name="file"
        accept="image/*"
        class="hidden"
      />
    </span>
    your binary Image, and lets see its area!
  </p>
</section>
